@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #F06269;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
    --font-inter: "Inter", "Times New Roman"; 

}
*{
  box-sizing: border-box;
}